# CONFIGURACIÓN DEL SERVIDOR
PORT=3000

# CLAVES DE API PARA AGREGADORES DE VUELOS COMERCIALES
# (Activa tu integrador favorito en server.js para pasar a producción)
AMADEUS_CLIENT_ID=TU_CLIENT_ID_DE_AMADEUS
AMADEUS_CLIENT_SECRET=TU_CLIENT_SECRET_DE_AMADEUS

# RAPIDAPI SOLUTIONS (SKYSCANNER / TRAVEL SOLUTIONS)
RAPIDAPI_KEY=TU_CLAVE_DE_RAPIDAPI
RAPIDAPI_HOST=skyscanner-api.p.rapidapi.com
